USE [master]
GO
/****** Object:  Database [FoodiesCuisine]    Script Date: 2/2/2025 7:30:09 PM ******/
CREATE DATABASE [FoodiesCuisine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodiesCuisine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FoodiesCuisine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodiesCuisine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FoodiesCuisine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodiesCuisine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodiesCuisine]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2/2/2025 7:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Role] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/2/2025 7:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Username] [varchar](50) NOT NULL,
	[Gmail] [varchar](50) NOT NULL,
	[CNIC] [varchar](13) NOT NULL,
	[ContactNumber] [varchar](11) NOT NULL,
	[Feedback] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishlist]    Script Date: 2/2/2025 7:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishlist](
	[Name] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2/2/2025 7:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Name] [varchar](50) NOT NULL,
	[Gmail] [varchar](50) NOT NULL,
	[CNIC] [varchar](50) NOT NULL,
	[ContactNumber] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2/2/2025 7:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Name] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/2/2025 7:30:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
